@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --dot: 8px;
}
@function dots($dot) {
  $return: calc(var(--dot) * $dot);
  @return $return;
}
html,
body {
  margin: 0;
  font-size: dots(1.75);
  color: #fff;
}
body {
  padding: dots(1);
  background-color: #000;
}
a {
  color: #fff;
  text-decoration: none;
}
* {
  line-height: 100%;
  font-family: "Space Mono", "BIZ UDPGothic", "Noto Sans TC", monospace;
  box-sizing: border-box;
}
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: dots(1);
  font-weight: normal;
  background-color: #000;
  width: 100%;
  span {
    opacity: 0.3;
  }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .src {
    grid-column-end: span 3;
  }
  .tool {
    text-align: right;
    & > div {
      display: inline-block;
    }
  }
}
.footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: dots(1);
  font-weight: normal;
  background-color: #000;
  width: 100%;
  transition: transform 1s;
  &:has(input:checked) {
    .about {
      display: block;
    }
    border-top: 1px solid #fff;
  }
  .about {
    margin-top: dots(10);
    max-height: 50vh;
    height: dots(40);
    overflow-y: scroll;
    display: none;
    p {
      margin-bottom: 0;
      max-width: dots(100);
    }
  }
  .display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .info {
      position: relative;
      input {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
    .copyright {
      text-align: right;
    }
  }
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
input#search-input {
  font-size: dots(1.75);
  opacity: 0.3;
  border: 0;
  background: none;
  color: #fff;
  &:focus {
    // border: none;
    outline: none;
    // border-bottom: 1px #fff solid;
  }
}
#select-all-container {
  display: none;
}

.site-cover {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
// body:has(input#search-input:focus) {
//   opacity: 0;
// }
.comiclist {
  transition: opacity 1s 0.1s;
}

// 給特效使用的初始狀態

html:has(#search-input:placeholder-shown) body:not(:has(#search-input:focus)) {
}

// 當開始輸入時，數入筐沒東西時
body:has(#search-input:placeholder-shown:focus) {
  .comiclist {
    opacity: 0.2;
  }
}
// 以輸入後，但還沒搜尋完
@keyframes searching {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
html:not(:has(#search-input:placeholder-shown)) body:has(#search-input:focus) {
  .comiclist {
    transition: opacity 0.5s 0.1s;
    opacity: 0.5;
    animation: searching 1.5s 5s ease-in-out infinite alternate;
  }
}

// 搜尋到東西後
body:not(:has(#search-input:placeholder-shown)),
body:has(#search-input:focus) {
  .comiclist {
    opacity: 1;
  }
  .site-cover {
    height: 0px;
  }
}
// 開啟詳細說明選單後，關閉背景的所有東西。包括頁首
body {
  &:has(.comiclist input:checked) {
    overflow: hidden;
    // label:not(:has(input:checked)) {
    //   display: none;
    // }
    // .site-cover {
    // height: 0px;
    // }
  }
}

// comiclist
.comiclist {
  margin-bottom: dots(50);
  margin-top: dots(10);
  label {
    &:has(input:checked) {
      z-index: 100;
      padding: dots(1);
      padding-top: dots(0);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      overflow-y: scroll;
      background: #000;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: dots(1);
      img {
        display: block !important;
      }
      .display {
        padding: dots(1) 0;
        margin-bottom: dots(20);
        position: sticky;
        top: 0;
        left: 0;
        background-color: #000;
        max-height: dots(10);
        grid-row: 1;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        gap: dots(1);
        .year {
          grid-row: 2;
        }
      }
      .hide {
        display: block;
      }
    }
    img {
      width: 100%;
      // height: 100%;
      aspect-ratio: 7/10 !important;
    }
  }
}

body.mode {
  --mode-grid: 4;
  .comiclist:not(:has(input:checked)) {
    // display: none;
    display: grid;
    gap: dots(2) dots(1);
    grid-template-columns: repeat(var(--mode-grid), 1fr);
    .display {
      margin: dots(1) 0;
      .title {
        grid-column-end: span 3;
      }
      .patch {
        // grid-column-end: span 2;
      }
      display: grid;
      gap: dots(1);
      grid-template-columns: repeat(3, 1fr);
    }
    .hide {
      display: none;
    }
  }
}

body:not(.mode) {
  .comiclist:not(:has(input:checked)) {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: dots(1);
    label {
      border-bottom: #fff 1px solid;
      padding-bottom: dots(1);
      img {
        display: none;
      }
      .display {
        gap: dots(1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .publisher {
          grid-column-start: 2;
          grid-row-start: 1;
        }
      }
      .hide {
        display: none;
      }
    }

    // display: none;
  }
}

@media screen and (max-width: 1200px) {
  body.mode {
    --mode-grid: 3;
  }
  .comiclist {
    label {
      &:has(input:checked) {
        .display {
          .title {
            grid-column-end: span 4 !important;
          }
          .patch {
            grid-column-end: span 2 !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  body:not(.mode) {
    .comiclist:not(:has(input:checked)) {
      .title {
        grid-column: 1 / span 3;
        grid-row-start: 1;
      }
      .publisher {
        grid-column-start: 1;
        grid-row-start: 2 !important;
      }
    }
  }
  body.mode {
    --mode-grid: 2;
  }
  .comiclist {
    label {
      &:has(input:checked) {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
        .display {
          grid-column: 1 / span 1;
        }
        img {
          margin: dots(20) 0;
        }
      }
    }
  }
}
